<%= render "shared/header" %>

    <div class="contents">
      <div class="first-view">

        <img src="./assets/sauna_tp.jpg" alt="">
        <h2 class="first-view-title">men's sauna for men</h2>
        <!-- 『トップ画像』を表示する -->
      </div>
 
        <!-- 『新着サウナ情報』を表示する 店名・画像・場所・投稿者名 -->
        <h3 class="heading-name">みんなのサウナ広場</h3>
        <ul class='item-lists'>
          <% @saunas.each do |sauna| %>
            <li class='list'>
              <%= link_to mysauna_path(sauna.id) do %>
                <div class='item-img-content'>
                  <%= image_tag sauna.image, class: "item-img" %>
                </div>
                <div class='item-info'>
                  <h3 class='item-name'>
                    <%= sauna.title %>
                  </h3>
                  <div class='item-prefecture'>
                    <%= sauna.prefecture.name %>
                  </div>
                  <div class='item-star'>
                    <%= sauna.star.name %>
                  </div>
                </div>
              <% end %>
            </li>
          <% end %>
        </ul>

      <%= link_to( new_mysauna_path, class: "post-link") do %>
        <div class="post-link-img">
         <img src="./assets/icon_camera.png" width="54" height="50">
        </div>
        <p class="post-link-text">投稿する</p>
      <% end %>


<%= render "shared/footer" %>