<!DOCTYPE HTML>

<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="user-scalable=yes, width=device-width, initial-scale=1.0, maximum-scale=1">
    <link rel="stylesheet" href="style.css">
    <title>SAUNA</title>
  </head>
  <body>
    <header>
      <div class="heading">
        <h1 class="title">SAUNA</h1>
      </div>
      <div class="navbar">
        <ul class="nav-lists">
          <li>新規登録</li>
          <li>ログイン</li>
          <li>ログアウト</li>
        </ul>
      </div>
    </header>

    <div class="items-sell-contents">
      <div class="items-sell-main">
        <h2 class="items-sell-title">サウナの情報を入力</h2>
        <%= form_with(model: @saunas, local: true) do |form| %>
        <div>
          <%= form.label :title %>
          <%= form.text_field :title, placeholder: "店名" %>
        </div>
        <div>
          <%= form.label :address %>
          <%= form.text_field :address, placeholder: "住所" %>
        </div>
        <div>
          <%= form.label :prefecture_id %>
          <%= form.number_field :prefecture_id %>
        </div>
        <div>
          <%= form.label :customer_id %>
          <%= form.number_field :customer_id %>
        </div>
        <div>
          <%= form.label :star_id %>
          <%= form.number_field :star_id %>
        </div>
        <div>
          <%= form.label :price %>
          <%= form.number_field :price , placeholder: "価格" %>
        </div>
        <div>
          <%= form.label :review %>
          <%= form.text_area :review, placeholder: "レビュー" %>
        </div>
        <div>
          <%= form.submit "SEND" %>
        </div>
      <% end %>
        <%#= render 'shared/error_messages', model: f.object %>