<!DOCTYPE HTML>

<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="user-scalable=yes, width=device-width, initial-scale=1.0, maximum-scale=1">
    <link rel="stylesheet" href="style.css">
    <title>SAUNA</title>
  </head>
  <body>
    <header>
      <div class="heading">
        <h1 class="title">SAUNA</h1>
      </div>
      <div class="navbar">
        <ul class="nav-lists">
          <li>新規登録</li>
          <li>ログイン</li>
          <li>ログアウト</li>
        </ul>
      </div>
    </header>

 
 <div class="sauna-main">
    <h2 class="sauna-main-title">商品の情報を入力</h2>
    <%= form_with model: @sauna, url: mysaunas_path, method: :post, local: true do |f| %>
<%# 店舗画像 %>
    <div class="img-upload">
      <div class="weight-bold-text">
        店舗画像
        <span class="indispensable">必須</span>
      </div>
      <div class="click-upload">
        <p>
          クリックしてファイルをアップロード
        </p>
        <%= f.file_field :image, id:"item-image" %>
      </div>
    </div>
<%# /店舗画像 %>

    <div class="new-sauna">
      <div class="weight-bold-text">
        店舗名
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_area :title, class:"sauna-text", id:"sauna-name" %>

      <div class="sauna-prefecture">
         都道府県名
         <%= f.collection_select(:prefecture_id, Prefecture.all, :id, :name, {}, {class:"select-box", id:"item-prefecture"}) if defined?(Prefecture) %>
 
        </div>

      <div class="sauna-prefecture">
         住所
        <%= f.text_field :address, placeholder: "住所" %>
      </div>

      <div class="sauna-customer">
          客層
          <%= f.collection_select(:customer_id, Customer.all, :id, :name, {}, {class:"select-box", id:"item-customer"}) %>
      </div>

      <div class="sauna-star">
          オススメ度
          <%= f.collection_select(:star_id, Star.all, :id, :name, {}, {class:"select-box", id:"star-prefecture"}) %>
      </div>

      <div class="sauna-price">
          料金
          <%= f.text_field :price, placeholder: "料金" %>
      </div>

      <div class="sauna-review">
          <%= f.text_field :review, placeholder: "レビュー" %>
      </div>

        <div>
          <%= f.submit "SEND" %>
        </div>
      <% end %>
    </div>

