<%= render "shared/header" %>

<%# 商品の概要 %>
<div class="sauna-show">
  <div class="item-box">
    <h2 class="name">
      <%= @sauna.title %>
    </h2>
    <div class="item-img-content">
      <%= image_tag @sauna.image ,class:"item-box-img" %> 
    </div>
   <% if user_signed_in? && current_user.id == @sauna.user_id %>
    <%= link_to "投稿の編集", "#", method: :get, class: "item-red-btn" %>
    <p class="or-text">or</p>
    <%= link_to "削除", "#", method: :delete, class:"item-destroy" %>
   <% end %>
    
    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-item">店舗名</th>
          <td class="detail-value"><%= @sauna.title %></td>
        </tr>
        <tr>
          <th class="detail-item">都道府県</th>
          <td class="detail-value"><%= @sauna.prefecture.name %></td>
        </tr>
        <tr>
          <th class="detail-item">住所</th>
          <td class="detail-value"><%= @sauna.address %></td>
        </tr>
        <tr>
          <th class="detail-item">客層</th>
          <td class="detail-value"><%= @sauna.customer.name %></td>
        </tr>
        <tr>
          <th class="detail-item">料金</th>
          <td class="detail-value"><%= @sauna.price %></td>
        </tr>
        <tr>
         <th class="detail-item">オススメ度</th>
         <td class="detail-value"><%= @sauna.star.name %></td>
        </tr>
        <tr>
          <th class="detail-item">レビュー</th>
          <td class="detail-value"><%= @sauna.review%></td>
        </tr>
      </tbody>
    </table>
    </div>
</div>

<%= render "shared/footer" %>