<!DOCTYPE HTML>

<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="user-scalable=yes, width=device-width, initial-scale=1.0, maximum-scale=1">
    <link rel="stylesheet" href="style.css">
    <title>SAUNA</title>
  </head>
  <body>
    <header>
      <div class="heading">
        <h1 class="title">SAUNA</h1>
      </div>
      <div class="navbar">
        <ul class="nav-lists">
          <li>新規登録</li>
          <li>ログイン</li>
          <li>ログアウト</li>
        </ul>
      </div>
    </header>


<%# 商品の概要 %>
<div class="sauna-show">
  <div class="item-box">
    <h2 class="name">
      <%= @sauna.title %>
    </h2>
    <div class="item-img-content">
      <%= image_tag @sauna.image ,class:"item-box-img" %> 
      
    </div>
    <div class="item-price-box">
      <span class="item-price">
      <%= @sauna.price %>
      </span>
      <span class="item-postage">
        <%= @sauna.delivery_charge.name %>
      </span>
    </div>


  <%# if user_signed_in? && @product.settlemnt.nil? %>
   <%# if current_user.id == @product.user_id  %>
    <%= link_to "商品の編集", "#", method: :get, class: "item-red-btn" %>
    <p class="or-text">or</p>
    <%= link_to "削除", "#", method: :delete, class:"item-destroy" %>
    <%# else %>
    <%= link_to "購入画面に進む", product_settlemnt_addresses_path("#"), class:"item-red-btn"%>
    <%# end %>
  <%# end %>
    

    <div class="item-explain-box">
      <span><%= @sauna.explanation %></span>
    </div>
    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-item">店名</th>
          <td class="detail-value"><%= @sauna.user.nickname %></td>
        </tr>
        <tr>
          <th class="detail-item">都道府県</th>
          <td class="detail-value"><%= @sauna.category.name %></td>
        </tr>
        <tr>
          <th class="detail-item">住所</th>
          <td class="detail-value"><%= @sauna.status.name %></td>
        </tr>
        <tr>
          <th class="detail-item">料金</th>
          <td class="detail-value"><%= @sauna.delivery_charge.name %></td>
        </tr>
        <tr>
          <th class="detail-item">客層</th>
          <td class="detail-value"><%= @sauna.prefecture.name %></td>
        </tr>
        <tr>
         <th class="detail-item">オススメ度</th>
         <td class="detail-value"><%= @sauna.scheduled_day.name %></td>
        </tr>
        <tr>
          <th class="detail-item">レビュー</th>
          <td class="detail-value"><%= @sauna.scheduled_day.name %></td>
        </tr>
      </tbody>
    </table>

</div>


