<!DOCTYPE html>
<html>
  <head>
    <title>Sauna</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%# <footer>
      <a href="#" class="post-link">
        <div class="post-link-img">
         <img src="./assets/icon_camera.png" width="54" height="50">
        </div>
        <p class="post-link-text">投稿する</p>
      </a>
   </footer> %>
    <%= yield %>
    <%# <footer>
      <p>
        Copyright Sauna 2023.
      </p>
    </footer> %>
  </body>
</html>
